<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>TP ENI</title>
<link rel="stylesheet" data-th-href="@{/css/general.css}">
<link rel="icon" data-th-href="@{/images/logoENI.png}" sizes="32x32">
</head>
<body>
	<!-- Navbar -->
	<header>
		<h1 id="nav-title">
			<a href="/">Filmothèque</a>
		</h1>
		<nav>
			<ul>
				<li><a href="/films">Films</a></li>
			</ul>
		</nav>
	</header>
	<main class="center-main">
		<section class="center-section">
			<h1 style="text-align: center;">Voici la bibliothèque des Films
				de ENI Ecole</h1>
		</section>
	</main>
</body>
</html>
