<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>TP ENI</title>
<link rel="stylesheet" data-th-href="@{/css/general.css}">
<link rel="stylesheet" data-th-href="@{/css/tp-table.css}">
<link rel="icon" data-th-href="@{/images/logoENI.png}" sizes="32x32">
</head>
<body>
	<!-- Navbar -->
	<header>
		<h1 id="nav-title">
			<a href="/">Filmothèque</a>
		</h1>
		<nav>
			<ul>
				<li><a href="/films">Films</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<h1>Les films de l'ENI</h1>
		<table>
			<!-- build html table based on users -->
			<thead>
				<tr>
					<th>Genre</th>
					<th>Année</th>
					<th>Titre</th>
					<th>Réalisateur</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr data-th-each="film : ${films}">
					<td data-th-text="${film.genre.titre}"></td>
					<td data-th-text="${film.annee}"></td>
					<td data-th-text="${film.titre}"></td>
					<td
						data-th-text="${film.realisateur.prenom} + ' ' + ${film.realisateur.nom}"></td>
					<td><a data-th-href="@{/films/detail(idFilm=${film.id})}">Détail</a></td>
				</tr>
			</tbody>
		</table>
	</main>

</body>
</html>
